{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Changement de mot de passe {% endblock title %}

<!--Navbar-->
{% block navbar %} login-page{% endblock navbar %}
{% block nav-content %}
<i class="fas fa-form" style="color: #ff6219;"></i>&nbsp;&nbsp; <strong style="color: #ff6219;"> paramètres De Connexion</strong>
{% endblock nav-content %}

<!-- Page Content -->
{% block content %}
<br>

<div class="container-fluid py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-lg rounded-3">
                <div class="row g-0">
                    <div class="col-md-5 p-4" style="background-color: #ffffff;">
                        <br><br><br><br><br><br>
                        <img src="/static/img/SITE SENTINELLE.png" alt="logo afroscreen" class="img-fluid rounded-3" style="max-width: 100%; height: auto;" />
                    </div>
                    <div class="col-md-7">
                        <div class="card-body p-4">
                            <h2 class="fw-bold mb-4">Définir le Nouveau mot de Passe</h2>
                            <form method="POST" autocomplete="off" novalidate>
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        Il y a des erreurs dans la définition des paramètres. Veuillez corriger les champs ci-dessous.
                                    </div>
                                {% endif %}
                                
                                <div class="mb-3">
                                    <strong>
                                    {{ form.old_password|as_crispy_field }}
                                   </strong>
                                </div>
                                <div class="mb-3">
                                    <strong>
                                    {{ form.new_password1|as_crispy_field }}
                                </strong>
                                </div>
                                <div class="mb-3">
                                    <strong>
                                    {{ form.new_password2|as_crispy_field }}
                                </strong>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg" style="width: 180px;">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
