<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <H3> Confirmation de Demande de Creation de Compte  </H3>

   <p><strong> {{ date }}</strong></p> 

    <strong> Bonjour &nbsp; {{first_name}}, {{last_name}}  ! </strong>

    <p > Nous sommes ravis de vous accueillir sur EWS Afroscreen, la plateforme de référence pour la collecte et l'analyse de vos données. </p>
    <p> Afin de finaliser la création de votre compte, veuillez Patienter le temps qu'un administrateur  examine votre demande, ensuite un lien vous sera envoyé  
        pour définir votre nom d'utilisateur et votre mot de passe. </p> 

    <p> Si vous avez des questions ou avez besoin d'assistance, n'hésitez pas à nous contacter à l'adresse support_ews_afroscreen@gmail.com </p> 

    <p> Bienvenue à bord ! </p>
        
        Cordialement,
        L'équipe EWS Afroscreen</p>

    <em> by Steven DIKUM </em>     
    
</body>
</html>